{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
    {% if user %}
        <div class="container-fluid ">
        <div class="row col-md-12 justify-content-center"><h3>Поздравляем!</h3></div>

        <div class="row col-md-12 justify-content-center">
            <h4>Пользователь {{ user.username }} подтвержден.</h4>
            {% else %}

            <h3>Верификация не пройдена.</h3></div>
    {% endif %}
<br>
<div class="row col-md-12">
    <button class="btn btn-round form-control">
        <a href="{% url 'index' %}" class="">на главную</a>
    </button>
</div>
</div>
{% endblock %}